.cascading li:last-of-type {
  font-weight: bold;
}

h1 {
  font-family: cursive;
  font-weight: bold;
}

.about-me-photo {
  float: left;
  margin: 10px;
}

.jumbotron {
  background-color: #337ab7;
  margin-bottom: 0px;
  border: solid black 3px;
}

scan {
  font-family: sans-serif;
  font-weight: bolder;
  color: #cc0000;
}

.row1 {
  text-align: center;
}

.row2 {
  width: 70%;
  margin-left: 15%;
  padding-bottom: 10px;
  padding-top: 10px;
}

.bg-primary {
  border: solid black 3px;
}

.bg-success {
  border: solid black 3px;
}

.bg-warning {
  border: solid black 3px;
}

.combine-row5 {
  border-top: solid black 3px;
  border-left: solid black 3px;
  border-right: solid black 3px;
  padding: 10px;
}

.combine-row6 {
  border-bottom: solid black 3px;
  border-left: solid black 3px;
  border-right: solid black 3px;
}

.row5 {
  text-align: center;
  border-bottom: none;
}

li a {
 padding: 0px;
}

.col-md-11 li {
    width: 25%;
    float: left;
}

.row6 {
  padding-bottom: 20px;
}
